img{
    width: 80px;
    height: 60px;
    margin-left: 45%;
    margin-top: 5px;
    margin-bottom: 35px;
}
h1{
   margin-left: 40%;
   margin-top: 35px;
   margin-bottom: 5px;
   font-size: 68px;
   color: #0f2145;
}
.password{
    margin-left: 37%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #edeff2;
    border-radius: 50px;
    padding: 19.2px 64px 1px 18px ;
    width: 20%;
}
.forget{
    text-decoration: none;
    color: #0f2145;
    margin-top: 10px;
    margin-left: 39%;
}
a:hover{
    color: #5349e1;
}
button{
   margin-left: 37%;
   margin-top: 10px;
   background-color: #5349e1;
   border-radius: 50px;
   padding: 20px  64px 5px 20px ;
   width: 27%;
  
 
}
.con{
   color: #fff;
   font-size: 20px;
}
.n{
   text-align: center;
  

}
.texte{
   font-size: 25px;
   margin-left: 0%;
   margin-top: 10px;
}

.signup{
   text-decoration: none;
   color: #0f2145 ; 
   margin-left: 0%;
   margin-top: 3px;
   
}
a:hover{
    color: #5349e1;
}